/*CLASES*/

.bordes-verde {
    background-color: green;
    border-radius: 25px;
    padding: 20px;
    background-color: #419b4c;
    border: 5px dotted violet;
    padding: 20px;
}

.texto-grande {
    font-size: 35px;
}

.img-150x150 {
    width: 150px;
    height: 150px;
}


/*IDS*/

#nombre {
    background-color: green;
}

.contenido {
    margin-left: 10%;
    margin-right: 10%;
    border: 10px solid transparent;
    padding: 15px;
    -webkit-border-image: url(http://www.w3schools.com/cssref/border.png) 30 stretch;
    -o-border-image: url(http://www.w3schools.com/cssref/border.png) 30 stretch;
    border-image: url(http://www.w3schools.com/cssref/border.png) 30 stretch;
    background-color: #eaeaea;
}

.imagen {
    width: 100%;
    height: 270px;
    max-height: 300px;
    background-color: #419b4c;
}

.texto-18 {
    font-size: 1.8em;
}